<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bagaturchess"
    android:installLocation="auto">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	<uses-feature android:name="android.hardware.location" android:required="false" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" /> 
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" android:required="true" />
    
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />
	
    <supports-screens android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"/>
    
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_bagaturchess"
        android:label="@string/app_bagaturchess_name"
        android:theme="@style/AppBaseTheme"
        android:name="com.bagaturchess.app.Application_Bagatur">


        <activity
            android:name="com.bagaturchess.activities.Activity_EditBoard"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    	<activity
  			android:name="org.metatrans.commons.menu.Activity_Menu_Colours_Base"
  			android:icon="@drawable/ic_rainbow"
  			android:label="@string/menu_colour_scheme"
  			android:theme="@style/AppBaseTheme">
  			<intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
  		</activity>
  		
    	        
    	<activity
            android:name="org.metatrans.commons.engagement.achievements.Activity_Picture"
            android:icon="@drawable/ic_achievements"
            android:label="@string/achievement"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <!-- action android:name="android.intent.action.MAIN" /-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    	        
    	<activity
            android:name="org.metatrans.commons.engagement.achievements.Activity_Achievements_Base"
            android:icon="@drawable/ic_achievements"
            android:label="@string/achievements"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <!-- action android:name="android.intent.action.MAIN" /-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    	
    	<activity
            android:name="org.metatrans.commons.engagement.achievements.Activity_Scores"
            android:icon="@drawable/ic_scores"
            android:label="@string/scores"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    	        
    	<activity
  			android:name="org.metatrans.commons.marketing.Activity_Marketing_AppList"
  			android:icon="@drawable/ic_colours_tube"
  			android:label="@string/label_moregames"
  			android:theme="@style/AppBaseTheme">
  			<intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
  		</activity>
        
        <receiver android:name="com.chessartforkids.events.theye.BackgroundReceiver"
            android:enabled="true"
            android:exported="false">
		    <intent-filter>
		    	<action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
	    </receiver>

        <activity
  			android:name="org.metatrans.commons.web.Activity_WebView_StatePreservingImpl_With_VideoPlayer"
  			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
  			android:hardwareAccelerated="true"
  			android:theme="@style/AppTheme"/>
        
        <activity
            android:name="com.chessartforkids.initial.Activity_Initial"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bagaturchess.activities.Activity_Loading_BagaturChess"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bagaturchess.activities.Activity_Main_BagaturChess"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bagaturchess.activities.Activity_MenuMain_BagaturChess"
            android:label="@string/menu_main"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bagaturchess.activities.Activity_MenuPieces_BagaturChess"
            android:icon="@drawable/ic_pieces"
            android:label="@string/pieces_scheme"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chessartforkids.menu.MenuActivity_Colours"
            android:icon="@drawable/ic_colours"
            android:label="@string/colour_scheme"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chessartforkids.menu.MenuActivity_Promotion"
            android:icon="@drawable/ic_promotion"
            android:label="@string/promotion"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chessartforkids.menu.MenuActivity_MovingRules"
            android:icon="@drawable/ic_rules"
            android:label="@string/menu_rules_desc"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bagaturchess.activities.Activity_MenuDifficulty_BagaturChess"
            android:icon="@drawable/ic_computer"
            android:label="@string/menu_difficulty_desc"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chessartforkids.menu.MenuActivity_Animation"
            android:icon="@drawable/ic_animation_fast_white"
            android:label="@string/menu_animation_mode"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>